.cr-hero {
  background: #fdfdfd;
  padding: 160px 0 100px;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.cr-hero__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  align-items: center;
  width: 1183px;
  height: 490px;
  top: 173px;
  left: 129px;
}

.cr-hero__content {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 432px;
}

.cr-hero__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -1.28px;
  color: #343C47;
  margin: 0 0 24px;
  font-style: bold;
}

.cr-hero__desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #343C47;
  margin: 0 0 40px;
  max-width: 90%;
}

.cr-hero__cta {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.cr-hero__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.25s ease;
  text-decoration: none;
}

.cr-hero__btn--primary {
  background: #FF6A00;
  color: #fff;
  border: 1px solid #FF6A00;
}

.cr-hero__btn--primary:hover {
  background: #C2410C;
  border-color: #C2410C;
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(255, 106, 0, 0.25);
}

.cr-hero__btn--ghost {
  background: transparent;
  color: #041632;
  border: 1px solid #1A1C1C;
}

.cr-hero__btn--ghost:hover {
  background: rgba(0, 0, 0, 0.04);
}

.cr-hero__collage {
  position: relative;
  width: 560px;
  height: 558px;
}

.cr-hero__main-img {
  width: 100%;
  height: auto;
  display: block;
}

.cr-badge {
  position: absolute;
  width: 202px;
  height: 158px;
  border-radius: 12px;
  z-index: 4;
  border: 1px;
  padding: 24px;
  font-family: Geist;
  font-weight: 500;
  font-size: 12px;

}

.cr-badge-1 {
  top: -50px;
  left: -44px;
  

}

.cr-badge-2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cr-badge-3 {
  bottom: 100px;
  right: -40px;
}

@media (max-width: 1024px) {
  .cr-hero__inner {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cr-hero__collage {
    height: auto;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .cr-badge {
    width: 120px;
  }
}